@model Pikaball.Models.PokemonCollection

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PokemonCollection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PikaballUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PikaballUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDrawn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDrawn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasNextEvolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasNextEvolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvolutionUnlocked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvolutionUnlocked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpriteUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpriteUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type2)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
