@model IEnumerable<Pikaball.Models.PokemonCollection>
@{
    ViewData["Title"] = "Collection";
}

<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/collection.css" />
</head>
<body>
    <div class="user-authorization-container">
        <h1 class="user-authorization-title">@User.Identity.Name's Pokemon Collection</h1>
        <div>
            <!--Search bar for pokemon search within user's collection-->
            <form asp-action="Collection" method="get">
                <div>
                    <label for="searchBar">Search Pokemon by Name:</label>
                </div>
                <div>
                    <input id="searchBar" name="SearchString" type="text" value="@ViewData["CurrentFilter"]"/>
                    <input type="submit" value="Search Pokemon" />
                </div>
            </form>
        </div>
    </div>
    <!--Search result box-->
    <div id="searchResults" class="pokemon-collection-grid scrollbar-near-moon">
        @foreach (var item in Model)
        {
        <div class="pokemon-collection-grid-item">
            <div class="info-hover">
                <li class="list-styling description">@Html.DisplayFor(modelItem => item.description)</li>
                <li class="list-styling">Type 1: @Html.DisplayFor(modelItem => item.Type1)</li>
                @if (!String.IsNullOrEmpty(item.Type2))
                {
                    <li class="list-styling">Type 2: @Html.DisplayFor(modelItem => item.Type2)</li>
                }
            </div>
            <img class="pokemon-image" src="@Html.DisplayFor(modelItem => item.SpriteUrl)" />
            <ul class="undisplay-bullet">
                <li class="list-styling pName">@Html.DisplayFor(modelItem => item.name)</li>
                <li class="list-styling">Level:@Html.DisplayFor(modelItem => item.level)</li>
               
            </ul>
        </div>
        }
    </div>

    <script>
    </script>
</body>
</html>